.tabs {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--mud-palette-surface);
    border-radius: 5px;
}

    .tabs label {
        order: 1;
        display: block;
        font-weight: 500;
        text-transform: uppercase;
        padding: 0.6rem 4rem;
        cursor: pointer;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serifad, Helvetica, Arial, sans-serif;
        transition: background ease 0.2s;
        color: var(--mud-palette-text-primary);
    }

    .tabs .tab {
        order: 99;
        flex-grow: 1;
        width: 100%;
        display: none;
        padding: 0.1rem;
    }

    .tabs label:hover {
        background-color: var(--mud-palette-primary-hover);
    }

    .tabs input[type=radio] {
        display: none;
    }

        .tabs input[type=radio]:checked + label {
            color: var(--mud-palette-primary);
            border-bottom: 2px solid;
        }

            .tabs input[type=radio]:checked + label + .tab {
                display: block;
            }

.tooltip-container {
    background: #eceff158;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

    .tooltip-container .tooltip-date {
        color: #575555;
        text-align: center;
        font-weight: 500;
        margin-bottom: 2px;
    }

    .tooltip-container ul {
        list-style: none;
        margin: 0;
        padding: 2px 4px 2px 4px;
        border: 1px solid #3e3e3e;
        border-top: 1px solid #514f4f27;
        border-right: 1px solid #514f4f27;
        border-radius: 2px;
        box-shadow: -1px 1px #5c5b5b;
    }

    .tooltip-container .tooltip-description {
        font-weight: 700;
        color: black;
        text-align: center;
    }

    .tooltip-container .tooltip-value {
        color: black;
        margin-bottom: 2px;
        text-align: center;
        font-weight: 700;
    }

        .tooltip-container .tooltip-value .red-text {
            color: var(--mud-palette-error);
        }

        .tooltip-container .tooltip-value .green-text {
            color: var(--mud-palette-success);
        }
