ol {
    counter-reset: item;
    padding-left:2rem;
}

ol > li {
    display: block;
}

    ol > li:before {
        content: counters(item, ".") ". ";
        counter-increment: item;
    }

code {
    font-family: 'Roboto Mono', monospace;
    font-size: inherit;
}

p > code,
li > code{
    background: var(--mud-palette-action-disabled-background);
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: 0rem .2rem .0rem .2rem;
    border-radius: .2rem;
}