code {
    font-family: 'Roboto Mono', monospace;
    font-size: inherit;
}

p > code,
li > code,
dd > code,
td > code {
    background: var(--mud-palette-action-disabled-background);
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem .2rem;
    border-radius: .2rem;
}
