.grow-cell {
    transition: all .2s ease-in-out;
}

    .grow-cell:hover {
        transform: scale(1.1);
    }

.normal-cell {
    transition-property: background-color, color;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.cell-marker-text {
    font-weight: 700;
}

.timeline-load {
    transition: all 1s ease-in-out;
    animation: rollout 1s;
}

@keyframes rollout {
    0% {
        transform: translateY(-50px);
    }

    100% {
        transform: none;
    }
}
